<div class="box">
	<%= link_to (image_tag pin.image(:medium)), pin %>

	<h3> <%= link_to pin.name, pin %> </h3>

	<%= link_to 'Seguir Leyendo', pin_path(pin), class: "btn btn-small btn-danger" %>
	<h5>
		<strong>
			Por <%= link_to pin.user.name, about_path %>
		</strong>
	</h5>

	

	<% if current_user == pin.user %>
		<p>
		  <%= link_to 'Editar', edit_pin_path(pin), class: "btn btn-warning" %>
		  <%= link_to 'Borrar', pin, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-info" %>
		</p>
	<% end %>
</div>
